<!DOCTYPE html>
<html ng-app="Orders" lang="en">
<head>
	<meta charset="UTF-8">
	<title>List</title>
	<script src="https://code.angularjs.org/1.6.4/angular.min.js"></script>
</head>
<body>
	<div class="main-page">
		<div>Lorem ipsum dolor sit amet.</div>
		<button class="btn-default" ng-click="addOrder()">Add New Order</button>
		<button class="btn-default" ng-click="listOrders()">List Existing Orders</button>
	</div>
	<div class="add-order">
		<div class="header">Добавить заказ</div>
		<div ng-controller="AddOrderController">
			<input type="date" name="addOrderDate" ng-required/>
			<select name="addOrderManager" ng-options="x for x in managers">
			</select>
			<select name="addOrderType" ng-options="x for x in types">
			</select>
			<input type="text" placeholder="Заказчик">
			<input type="text" placeholder="Поставщик">
			<input type="date" name="addOrderTill">
		</div>
	</div>
	<script src="app.js"></script>
</body>
</html>