<!DOCTYPE html>
<html ng-app="Orders" lang="en">
<head>
	<meta charset="UTF-8">
	<title>List</title>
	<script src="https://code.angularjs.org/1.6.4/angular.min.js"></script>
	<link rel="stylesheet" href="style.css">
</head>
<body ng-controller="orderController">
	<div class="main-page">
		<h1>Lorem ipsum dolor sit amet.</h1>
		<button ng-click="addPage()" class="btn-default">Добавить новый заказ</button>
		<button ng-click="listPage()" class="btn-default">Показать существующие заказы</button>
	</div>
	<div ng-model="addOrder" ng-show="currentPage == 'add orders page'" class="add-order">
		<h2>Добавить заказ</h2>
		<div>
			<input type="date" name="addOrderDate" ng-model="addOrderDate">
			<select name="addOrderManager" ng-model="addOrderManager">
				<option value="{{manager}}" ng-repeat="manager in data.managers track by $index">{{manager}}</option>
			</select>
			<select name="addOrderType" ng-model="addOrderType">
				<option value="{{type}}" ng-repeat="type in data.types">{{type}}</option>
			</select>
			<input type="text" name="addOrderBuyer" ng-model="addOrderBuyer" placeholder="Заказчик">
			<input type="text" name="addOrderDeliver" ng-model="addOrderDeliver" placeholder="Поставщик">
			<input type="date" name="addOrderTill" ng-model="addOrderTill">
			<button class="add-order-btn" ng-click="addOrder()">Добавить заказ</button>
		</div>
	</div>
	<div ng-show="currentPage == 'list orders page'" class="show-orders">
		<h2>Показать заказы</h2>
		<div>
			<table>
				<tr ng-hide="editorEnabled">
					<th>Дата заказа</th>
					<th>Менеджер</th>
					<th>Тип заказа</th>
					<th>Заказчик</th>
					<th>Поставщик</th>
					<th>Дата выполнения</th>
					<th>Редактировать</th>
				</tr>
				<tr ng-hide="editorEnabled" ng-repeat="order in orders track by $index">
					<td>{{order.date | date : "dd.MM.yyyy"}}</td>
					<td>{{order.manager}}</td>
					<td>{{order.type}}</td>
					<td>{{order.buyer}}</td>
					<td>{{order.deliver}}</td>
					<td>{{order.till | date: "dd.MM.yyyy"}}</td>
					<td><span ng-show="isEdited(order.till)"><a class="btn edit-btn" ng-click="edit(order)"><img src="pencil.png" alt=""></a></span></td>
				</tr>
			</table>
			<div ng-show="editorEnabled">
				<h3>Редактировать заказ</h3>
					<input type="date" ng-model="editOrderDate">
					<select name="addOrderManager" ng-model="editOrderManager">
						<option  ng-repeat="manager in data.managers track by $index">{{manager}}</option>
					</select>
					<select name="addOrderType" ng-model="editOrderType">
						<option  ng-repeat="type in data.types track by $index">{{type}}</option>
					</select>
					<input ng-model="editOrderBuyer" type="text">
					<input ng-model="editOrderDeliver" type="text">
					<input type="date" ng-model="editOrderTill" >
					<div>
						<a class="btn btn-save" ng-click="save(index)">Сохранить</a></span>
						<a class="btn btn-cancel" ng-click="cancel()">Отмена</a></span>
					</div>
				</div>
		</div>
	</div>
	<script src="app.js"></script>
</body>
</html>
