.main-page {
	text-align: center;
}

input {
	margin: 5px;
}

.add-order-btn {
	margin-top: 20px;
	display: block;
}

table {
 border-collapse: collapse;
}
th, td {
    border: 1px solid black;
   
}
.btn {
	cursor: pointer;
}

.btn-save {
	color: #4FA83D;
}

.btn-cancel {
	color: #BA0101;
}